@font-face {
  font-family: "Raleway-Medium";
  src: url("fonts/Raleway-Medium.ttf");
}

@font-face {
  font-family: "Raleway-Heavy";
  src: url("fonts/Raleway-Heavy.ttf");
}

/* ---- reset ---- */

html {
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- typography ---- */

body {
  color: #111;
  font-family: "Raleway-Medium", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

p {
  margin: 0;
}

/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  margin-bottom: 60px;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* ---- 404 Page ---- */

.not-found-logo {        
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 33%;
  content: url("../images/404.png");
  max-width: 100%;
}

.not-found-text {
  padding: 0 0 5px 8px;
  font-size: 24px;
  text-align: center;
}

.not-found-link {
  padding-top: 20px;
  padding: 0 0 5px 8px;
  font-size: 20px;
  text-align: center;
}

/* ---- Home Page ---- */

.logo {        
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 13%;
  content: url("../images/logo.png");
  max-width: 100%;
}
.signup-copy {
  padding-top:10%;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 19px;
  line-height: 1.2;
  margin-bottom: 10%;
}

.signup-helper {
  padding: 0 0 5px 8px;
  font-size: 12px;
}

/* ---- Signup page ---- */

.register-title {
  padding-top: 3%;
  margin-bottom: 20px;
  font-size: 22px;
}

.link {
  color: rgb(213, 51, 68);
}

/* ---- Login page ---- */

.logoH {        
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%; 
  content: url("../images/logoH.png");
  max-width: 100%;
}

.login-title {
  padding-top: 3%;
  margin-bottom: 20px;
}

.error-msg {
  color: rgb(213, 51, 68);
}

/* ---- Survey list page ---- */

.survey {
  padding: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #000;
  border-radius:  40px;
  height: 120px;
  background-color: white;
  position: relative;
}

.survey-list{
  margin-bottom: 88px;
}

.survey-list-title{
  padding: 0 15px;
  text-align: center;
  font-size: 16px;
}

#survey-search{
  padding: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  caret-color: rgb(213, 51, 68);
  border: 1px solid #000;
  border-radius:  40px;
  height: 40px;
  width: 75%;
  margin-right: 10px;
}

#survey-search-btn {
  width: 20%;
  height: 40px;
  background-color: rgb(38, 84, 124);
  color: rgb(250, 250, 250);
  border: 1px solid #171616;
  border-radius: 40px;
  margin-bottom: 20px;
  font-family: "Raleway-Medium", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.has-voted {
  width: 44%;
  height: 40px;
  float: left;
  color: rgb(67, 185, 41);
  margin:auto;
  margin-bottom: 20px;
  font-family: "Raleway-Medium", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 10px;
}

.goto-survey-btn, .survey-results-btn {
  width: 44%;
  height: 40px;
  float: left;
  background-color: rgb(38, 84, 124);
  color: rgb(250, 250, 250);
  border: 1px solid #171616;
  border-radius: 40px;
  margin-bottom: 20px;
  font-family: "Raleway-Medium", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
}

.goto-survey-btn {
  margin-left: 10px;
  float: left;
  left: 0;
}

.survey-results-btn {
  margin-right: 10px;
  float: right;
  right: 0;
}

/* ---- Survey page ---- */

#survey-form label {
  padding: 0px;
  margin: 0px;
  font-size: 26px;
  font-family: "Raleway-Medium", Helvetica, Arial, sans-serif;
}

#survey-form input {
  font-size: 16px;
  border: 1px solid #000;
  height: 20px;
  width: 10%;
  margin: 0px;
  padding: 0px;
}

.answer-list {
  margin-bottom: 50px;
}

.answer {
  margin-bottom: 20px;
}

.question-title {
  font-size: 34px;
}

.survey-title {
  font-size: 30px;
  margin-bottom: 0.83em;
  line-height: 1.2;
}

#vote.submit {
  width: 100%;
  height: 40px;
}

/* ---- Results page ---- */

.results-title {
  font-size: 34px;
}

#answer-list {
  margin-bottom: 88px;
}

/* ---- New Survey page ---- */

.new-survey{
  margin-bottom: 88px;
}

.plus-btn {
  width: 20%;
  height: 40px;
  background-color: rgb(67, 185, 41);
  color: rgb(250, 250, 250);
  border: 1px solid #171616;
  border-radius: 40px;
  margin-bottom: 20px;
  font-family: "Raleway-Medium", Helvetica, Arial, sans-serif;
  font-size: 30px;
}

.minus-btn {
  width: 20%;
  height: 40px;
  background-color: rgb(213, 51, 68);
  color: rgb(250, 250, 250);
  border: 1px solid #171616;
  border-radius: 40px;
  margin-bottom: 20px;
  font-family: "Raleway-Medium", Helvetica, Arial, sans-serif;
  font-size: 30px;
}

.participant input, .answers input {
  padding: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  caret-color: rgb(213, 51, 68);
  border: 1px solid #000;
  border-radius:  40px;
  height: 40px;
  width: 75%;
  margin-right: 10px;
}

/* ----My Surveys page ---- */

.add-btn, .delete-btn {
  width: 44%;
  height: 40px;
  float: left;
  color: rgb(250, 250, 250);
  border: 1px solid #171616;
  border-radius: 40px;
  margin-bottom: 20px;
  font-family: "Raleway-Medium", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
}

.add-btn {
  background-color: rgb(38, 84, 124);
  margin-left: 10px;
  float: left;
  left: 0;
}

.delete-btn {
  background-color: rgb(213, 51, 68);
  margin-right: 10px;
  float: right;
  right: 0;
}

/* ---- Profile page ---- */

.edit-profile-btn, .mysurveys-btn {
  width: 49%;
  height: 40px;
  float: left;
  background-color: rgb(38, 84, 124);
  color: rgb(250, 250, 250);
  border: 1px solid #171616;
  border-radius: 40px;
  margin-bottom: 20px;
  font-family: "Raleway-Medium", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin-top: 20px;
}

.edit-profile-btn {
  float: left;
}

.mysurveys-btn {
  float: right;
}

 /* ---- New Survey page ---- */
 
 .add-btn, .delete-btn {
  width: 44%;
  height: 40px;
  float: left;
  color: rgb(250, 250, 250);
  border: 1px solid #171616;
  border-radius: 40px;
  margin-bottom: 20px;
  font-family: "Raleway-Medium", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
}

 .add-btn {
  background-color: rgb(38, 84, 124);
  margin-left: 10px;
  float: left;
  left: 0;
}

 .delete-btn {
  background-color: rgb(213, 51, 68);
  margin-right: 10px;
  float: right;
  right: 0;
}


.delete-survey-btn {
  background-color: rgb(213, 51, 68);
  margin-left: 10px;
  float: right;
  left: 0;
}

/* ---- Login and Signup forms ---- */

form.is-processing {
	opacity: 0.5;
}

form .field {
	margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 10px;
  font-family: "Raleway-Heavy", Helvetica, Arial, sans-serif;
}

form input {
  padding: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 100%;
  caret-color: rgb(213, 51, 68);
  border: 1px solid #000;
  border-radius:  40px;
  height: 40px;
}

form .submit {
  padding-top: 20px;
  display: block;
	margin-bottom: 10px;
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  background-color: #27afdc;
  cursor: pointer;
  width: 100%;
  height: 60px;
  background-color: rgb(38, 84, 124);
  color: rgb(250, 250, 250);
  border: 1px solid #171616;
  border-radius: 40px;
  margin-bottom: 20px;
  font-family: "Raleway-Medium", Helvetica, Arial, sans-serif;
  font-size: 16px;
}


/* ---- components ---- */

.btn {
  width: 100%;
  height: 50px;
  background-color: rgb(38, 84, 124);
  color: rgb(250, 250, 250);
  border: 1px solid #171616;
  border-radius: 40px;
  margin-bottom: 20px;
  font-family: "Raleway-Medium", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.button-alt {
  color: blue;
  background-color: #fff;
}

/* Menu CSS Reset used: http://seodesigns.com/projects/codepen/reset.css */

.sticky-footer {
  display: block;
  height: 68px;
  background: rgb(213, 51, 68);
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 3;
}
.sticky-footer .one-fourth {
  width: 33%;
  float: left;
  color: #fff;
  text-align: center;
  height: 58px;
  position: relative;
  cursor: pointer;
}
.sticky-list,
.sticky-new,
.sticky-profile {
  width: 25%;
  height: auto;
  margin: auto;
  margin-top: 11px;
}

.sticky-list {
  content: url("../images/survay-list.png");
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.sticky-new {
  content: url("../images/new-survay.png");
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.sticky-profile {
  content: url("../images/profile.png");
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.sticky-footer .one-fourth p {
  font-size: 12px;
  color: rgb(250, 250, 250);
}
